.stylee{
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: rgba(0, 64, 128, 0.364);
    height: 40%;
    width: 30%;
    margin-top: 30px;
    border-radius: 20px;
    box-shadow: 10px 10px rgb(119, 0, 255);

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("pic12.jpg");
    background-size: cover;
}
label{
    color: white;
}